body{
    margin: 0px;
    padding: 0px;
}
.header_1{
    display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   background: beige
}


div img{
    width: 200px;
    position: relative;
    top: 200px;
    left: 300px;
    border: 1px solid;
    border-radius: 100%;
}
.section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-1{
    width: 30%;
    height:600px;
    background-color:#471074 ;
    border: 1px solid #471074 ;    
}
.section-3{
    display: grid;
    justify-items: start;
    width: 50%;
    margin-right: 50px;
    margin-left:50px;
}
input{
    padding: 15px;
    margin-bottom: 15px;
    width: 300px;
}
.assi{
    height: 50px;
    width: 100px;
    border-width: 5px;
    padding:10px;
    box-sizing: content-box;
    
}