body{
    margin: 0px;
    padding: 0px;
  
}
.header_1{
    display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   background: beige;
}
div h2{
    text-align: center;
    font-size: 30px;
    color: #5d5a7c;
    font-family: inherit;
}
 table{
    border-collapse: collapse;
    font-size: 20px;
    font-family: ui-monospace;

}
td,th{
    border: 1px solid black;
    text-align: left;
    padding:10px;
    width: 500px;
}
tr:nth-child(even) {
    background-color: rgb(93, 90, 124);
}
td a{
    color:grey;
    text-decoration: none;
}

td img{
    width: 100px;
    margin-left: 80px;
}
footer{
    height: 100px;
    background-color: wheat;
}