body{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.bg {
    background: url(../assets/images/galaxy.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}
      #contain label{
	    display: inline-block;
      text-align: right;
}
#contain{
    margin-top:50px;
}
input{
     margin-left:30px;
    padding: 11px;
    font-size: 13px;
    font-style: initial;
    font-family: monospace;
    margin-bottom: 20px;
    width:300px;
    background-color: #473460;
    border: crimson;
    border-radius: 5px;
}
label{
  width: 200px;
  font-size: 20px;
  font-family: serif;
  color: #c9c9c9;
}
input:hover{
background-color: #21D4FD;
background-image: linear-gradient(93deg, #7779e4 0%, #471074 100%);
}


.header_1{
     display: flex;
    justify-content: space-around;
    /* align-content: stretch; */
    align-items: center;
    flex-wrap: wrap;
    background: beige
}
button{
  padding: 10px;
    width: 80px;
    border-radius: 50px;
    border: none;
    background: bisque;
    font-size: medium;
    font-family: ui-monospace;
    margin-top: 20px;
    
}

input {
    margin-left: 30px;
    padding: 11px;
    font-size: 13px;
    font-style: initial;
    font-family: monospace;
    margin-bottom: 20px;
    width: 200px;
    background-color: #473460;
    border: crimson;
    border-radius: 5px;
}
.main-brd{
    border: 1px solid;
    width: 300px;
    height: 400px;
    margin-top: 20px;
    padding: 20px;
    margin-left:37%;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #4a5053 0%, #9599E2 100%);
}
.btn-1 h3{
    border:1px solid rgb(255, 255, 255);
    width: 200px;
    text-align: center;
    padding: 5px;
    color:#ffffff;
   font-size: medium;
    font-family: serif;
  
}
.container{
    text-align: -webkit-center;
    margin-top:30px;
}
